<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sort</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../static/js/sort.js"></script>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<form>
    <div class="input-form">
        <h3>sort</h3>
        <a href="/logout" id="logout">logout</a>
        <fieldset>
            <p><textarea rows="5" cols="30" id="input" autofocus placeholder="Input field"></textarea></p>
            <p><textarea rows="5" cols="30" id="output" readonly placeholder="Output field"></textarea></p>
            <button id="sort">Sort</button>
            <div id="loading" class="hidden">
                <img class="spinner" src="../../static/img/spiffygif_62x62.gif">
            </div>
        </fieldset>
    </div>

</form>
</body>
</html>